<h4> Blackjack Game </h4>



Let Play Some Blackjack  <%=session[:name]%>

<form action = '/hit' method = post>

play one hand is <%=session[:player_one.hand]%>

  <input type = submit value = "Hit">


</form>